.page-inner {
	// .page-inner__container
	&__container {
	}
	// .page-inner__body
	&__body {
		padding: 0px 0px rem(180) 0px;
		display: grid;
		// .page-inner__body_has-asside
		&_has-asside {
			gap: rem(90);
			grid-template-columns: rem(300) 1fr;
			@media (max-width: em($md1)) {
				grid-template-columns: 1fr;
				gap: rem(30);
			}
		}
		@media (max-width: em($md2)) {
			padding: 0px 0px rem(100) 0px;
		}
		@media (max-width: em($md3)) {
			padding: 0px 0px rem(80) 0px;
		}
		@media (max-width: em($md4)) {
			padding: 0px 0px rem(60) 0px;
		}
	}
	// .page-inner__asside
	&__asside {
		display: none;
		.page-inner__body_has-asside & {
			display: grid;
			align-content: start;
			gap: rem(70);
		}

		@media (max-width: em($md1)) {
			.more {
				display: none;
			}
		}
	}
	// .page-inner__content
	&__content {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// .page-inner__title
	&__title {
		margin: 0px 0px rem(30) 0px;
	}
	// .page-inner__text
	&__text {
		margin: 0px 0px rem(30) 0px;
	}
	// .page-inner__more
	&__more {
		margin: 0px 0px rem(60) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .page-inner__docs
	&__docs {
		margin: 0px 0px rem(60) 0px;
		display: grid;
		gap: rem(15);
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .page-inner__tabs
	&__tabs {
		margin: 0px 0px rem(60) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .page-inner__gallery
	&__gallery {
		margin: 0px 0px rem(60) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
}

//===============================================================
.submenu-spoiler {
	// .submenu-spoiler__item
	&__item {
	}
	// .submenu-spoiler__control
	&__control {
		margin: 0px 0px rem(20) 0px;
		@media (min-width: em($md1+1)) {
			display: none;
		}
	}
	// .submenu-spoiler__container
	&__container {
	}
}

//---------------------------------------------------------------
.submenu {
	// .submenu__list
	&__list {
		border: rem(1) solid var(--color-background);
		border-bottom: none;
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		border-bottom: rem(1) solid var(--color-background);
		font-size: rem(21);
		font-weight: 500;
		padding: rem(15) rem(30);
		min-height: rem(65);
		display: flex;
		align-items: center;
		line-height: 166.667%;
		&._active {
			background: var(--color-main);
			color: #fff !important;
		}
	}
}

//===============================================================
.inner-head {
	position: relative;
	margin: 0px 0px rem(90) 0px;
	@media (max-width: em($md3)) {
		margin: 0px 0px rem(60) 0px;
	}
	// .inner-head__container
	&__container {
	}
	// .inner-head__body
	&__body {
		display: grid;
		gap: rem(30);
		justify-items: center;
		align-content: center;
		min-height: rem(284);
		@media (max-width: em($md2)) {
			min-height: rem(240);
		}
		@media (max-width: em($md3)) {
			min-height: rem(200);
		}
	}
	// .inner-head__title
	&__title {
		color: #fff !important;
	}
	// .inner-head__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
		}
	}
}

//===============================================================
.rubricator {
	margin: 0px 0px rem(180) 0px;
	@media (max-width: em($md2)) {
		margin: 0px 0px rem(100) 0px;
	}
	@media (max-width: em($md3)) {
		margin: 0px 0px rem(80) 0px;
	}
	@media (max-width: em($md4)) {
		margin: 0px 0px rem(60) 0px;
	}
	// .rubricator__body
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(30);
		@media (max-width: em($md2)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .rubricator__item
	&__item {
	}
}

//---------------------------------------------------------------
.rubricator-item {
	min-height: rem(237);
	padding: rem(30) rem(25);
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: var(--color-main);
		}
	}
	// .rubricator-item__img
	&__img {
		height: rem(77);
		margin: 0px 0px rem(30) 0px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		color: var(--color-main);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			.rubricator-item:hover & {
				color: #fff;
			}
		}
	}
	// .rubricator-item__title
	&__title {
		text-align: center;
		font-weight: 500;
		flex: 1 1 auto;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			.rubricator-item:hover & {
				color: #fff !important;
			}
		}
	}
}

//===============================================================
.inner-tabs {
	// .inner-tabs__nav
	&__nav {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15) rem(60);
		margin: 0px 0px rem(40) 0px;
	}
	// .inner-tabs__btn
	&__btn {
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main);
			}
		}
		span {
			position: relative;
			display: inline-block;
			padding: rem(5) 0px;
			font-size: rem(21);
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: rem(2);
				background: var(--color-main);
				bottom: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
		}
		&._active {
			span::before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .inner-tabs__content
	&__content {
	}
	// .inner-tabs__panel
	&__panel {
	}
}

//===============================================================
.inner-gallery {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: rem(30);
	@media (max-width: em($md3)) {
		gap: rem(20);
	}
	@media (max-width: em($md3)) {
		grid-template-columns: 1fr;
	}
	// .inner-gallery__left
	&__left {
	}
	// .inner-gallery__thumbs
	&__thumbs {
	}
	// .inner-gallery__right
	&__right {
		min-width: 0px;
	}
	// .inner-gallery__slider
	&__slider {
	}
}
.inner-gallery-thumbs {
	position: relative;
	height: rem(600);
	padding: rem(37) 0px;
	@media (max-width: em($md3)) {
		display: none;
	}
	// .inner-gallery-thumbs__slides
	&__slides {
	}
	// .inner-gallery-thumbs__slide
	&__slide {
	}
	// .inner-gallery-thumbs__arrows
	&__arrows {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: rem(2);
		z-index: 5;
		pointer-events: none;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: rem(37);
			background: #fff;
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(37);
			background: #fff;
			z-index: -1;
		}
	}
	// .inner-gallery-thumbs__arrow
	&__arrow {
		cursor: pointer;
		pointer-events: all;
		// .inner-gallery-thumbs__arrow_prev
		&_prev {
		}
		// .inner-gallery-thumbs__arrow_next
		&_next {
		}
	}
}
.thumbs-slide {
	position: relative;
	width: rem(150);
	height: rem(116);
	cursor: pointer;
	// .thumbs-slide__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.inner-gallery-slider {
	// .inner-gallery-slider__slides
	&__slides {
	}
	// .inner-gallery-slider__slide
	&__slide {
	}
}
.gallery-slide {
	position: relative;
	height: rem(600);
	@media (max-width: em($md3)) {
		height: rem(400);
	}
	@media (max-width: em($md4)) {
		height: rem(300);
	}
	// .gallery-slide__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//===============================================================
.management {
	display: grid;
	gap: rem(20);
	// .management__item
	&__item {
	}
}

//---------------------------------------------------------------
.management-item {
	display: grid;
	grid-template-columns: rem(150) 1fr;
	gap: rem(30);
	// .management-item__left
	&__left {
	}
	// .management-item__photo
	&__photo {
	}
	// .management-item__right
	&__right {
		display: grid;
		align-content: center;
	}
	// .management-item__content
	&__content {
		display: grid;
		gap: rem(20);
	}
	// .management-item__title
	&__title {
		font-size: rem(24);
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		@media (max-width: em($md2)) {
			font-size: rem(22);
		}
		@media (max-width: em($md3)) {
			font-size: rem(21);
		}
	}
	// .management-item__text
	&__text {
		font-size: rem(21);
	}
}

//===============================================================
